<form novalidate="" role="form" class="form-horizontal" enctype="multipart/form-data">
    <table class="table">
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <label>标题（简体）</label>
                    <input type="text" class="form-control" id="titlec">
                </div>
                <div class="col-xs-6">
                    <label>标题（繁体）</label>
                    <input type="text" class="form-control" id="titlef">
                </div>
                <div class="col-xs-6">
                    <label>标题（英文）</label>
                    <input type="text" class="form-control" id="titlee">
                </div>
                <div class="col-xs-6">
                    <label>标题（葡语）</label>
                    <input type="text" class="form-control" id="titlep">
                </div>

                <div class="col-xs-12">
                    <label>新闻内容（简体）</label>
                    <textarea class="form-control" rows="3" id="contentc"></textarea>
                </div>

                <div class="col-xs-12">
                    <label>新闻内容（繁体）</label>
                    <textarea class="form-control" rows="3" id="contentf"></textarea>
                </div>

                <div class="col-xs-12">
                    <label>新闻内容（英文）</label>
                    <textarea class="form-control" rows="3" id="contente"></textarea>
                </div>

                <div class="col-xs-12">
                    <label>新闻内容（葡语）</label>
                    <textarea class="form-control" rows="3" id="contentp"></textarea>
                </div>

                <div class="col-xs-6">
                    <label>时间</label>
                    <input type="text" class="form-control" id="time">
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-info" type="submit">提交</button>
                </div>
            </div>
        </div>
    </table>
</form>