<form novalidate="" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group message"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展名称（中文）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="namec" class="form-control" name="namec">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展名称（繁体）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="namef" class="form-control" name="namef">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展名称（英语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="namee" class="form-control" name="namee">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展名称（葡语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="namep" class="form-control" name="namep">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">会展类型（中文）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="typec" class="form-control" name="typec">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展类型（繁体）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="typef" class="form-control" name="typef">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展类型（英语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="typee" class="form-control" name="typee">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展类型（葡语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="typep" class="form-control" name="typep">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">会展地址（中文）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="addressc" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展地址（繁体）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="addressf" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展地址（英语）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="addresse" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展地址（葡语）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="addressp" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">会展介绍（中文）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="introducec" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展介绍（繁体）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="introducef" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展介绍（英语）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="introducee" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会展介绍（葡语）：</label>
        <div class="col-md-10">
            <textarea class="form-control" id="introducep" rows="3"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">举办方（中文）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="organizerc" class="form-control" name="organizerc">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">举办方（繁体）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="organizerf" class="form-control" name="organizerf">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">举办方（英语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="organizerce" class="form-control" name="organizerce">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">举办方（葡语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="organizercp" class="form-control" name="organizercp">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">时间</label>
        <div class="col-md-10">
            <input type="text" required="" id="time" class="form-control" name="time">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" type="submit">提交</button>
        </div>
    </div>
</form>