<form novalidate="" role="form" class="form-horizontal" enctype="multipart/form-data">
    <div class="form-group message"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">标题（中文）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="titlec" class="form-control" title="titlec">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">标题（繁体）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="titlef" class="form-control" title="titlef">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">标题（英语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="titlee" class="form-control" title="titlee">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">标题（葡语）：</label>
        <div class="col-md-10">
            <input type="text" required="" id="titlep" class="form-control" title="titlep">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">时间</label>
        <div class="col-md-10">
            <input type="text" required="" id="time" class="form-control" name="time">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" type="submit">提交</button>
        </div>
    </div>
</form>
